/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

img {
    width: 55px;
    height: auto;
}

form, .btn-primary, .btn-info {
    float: left;
}

.alert {
    text-align: center;
}